                                * {
                                    margin: 0;
                                    padding: 0;
                                }
                                
                                header {
                                    padding: 25px;
                                    color: #FFFFFF;
                                    background-color: rgb(35, 44, 44);
                                    text-align: center;
                                    font-size: 100px;
                                    animation-name: efecto1;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: ease-in;
                                    animation-delay: 1s;
                                    animation-duration: 3s;
                                }
                                
                                @keyframes efecto1 {
                                    0% {
                                        width: 100%;
                                    }
                                    25% {
                                        width: 100%;
                                        transform: rotate(90deg);
                                    }
                                    50% {
                                        width: 200px;
                                        background-color: rgb(38, 42, 235);
                                        transform: rotate(180deg);
                                    }
                                    75% {
                                        width: 150px;
                                        transform: rotate(270deg);
                                    }
                                    100% {
                                        width: 100px;
                                        background-color: green;
                                        font-size: 14px;
                                        transform: rotate(360deg);
                                    }
                                }
                                
                                h1 {
                                    font-size: 50px;
                                    text-align: center;
                                    background-color: red;
                                }
                                
                                .animacion1 {
                                    font-size: 100px;
                                }
                                
                                footer {
                                    font-size: 100px;
                                    text-align: center;
                                    background-color: green;
                                    transform: skewX(10deg)
                                }